---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
  <main class="max-w-4xl m-auto min-h-screen grid place-content-center text-center">
    <img src="https://midu.dev/images/this-is-fine-404.gif" alt="404 not found">
    <h1 class="text-1xl mt-4">¡Vaya!. Lo has roto.</h1>
  </main>
</Layout>